### OBSERVATIONS:

- Data is higly imbalanced only 6.34% data is churn & remaining is non_churn
- From univariate analysis some relationship is emerging to the churn, but no clear relationship found.
- There are many highly correlated features, found 89 features with more then 0.8 correlation.

### INFERENCES:

- We will be using Random Forest technique since the data is imbalanced data and multi-collinearity. The below links are the references

https://datascience.stackexchange.com/a/33565

https://towardsdatascience.com/methods-for-dealing-with-imbalanced-data-5b761be45a18


### NEXT STEPS:

- Need to balance the data, apply suitable data-balancing method
- Features are highly correlated, use feture reduction methods before modelling

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')


# matplotlib output formatting
%matplotlib inline

# pandas output formatting
pd.options.display.float_format = '{:.2f}'.format


# Utility fuction: line seperator
def print_ln():
    print('-'*80, '\n')

In [2]:
telecom2 = pd.read_csv("../data/processed/02_Univariate.csv", low_memory=False)

In [3]:
telecom2.head()

,arpu_6,arpu_7,arpu_8,arpu_9,onnet_mou_6,onnet_mou_7,onnet_mou_8,onnet_mou_9,offnet_mou_6,offnet_mou_7,...,total_rech_amt_data_7,total_rech_amt_data_8,total_rech_amt_data_9,total_month_rech_6,total_month_rech_7,total_month_rech_8,total_month_rech_9,rech_days_left_6,rech_days_left_7,rech_days_left_8
0,197.38,214.82,213.80,21.10,0.00,0.00,0.00,0.00,0.00,0.00,...,252.00,252.00,0.00,614.00,504.00,504.00,0.00,9.00,15.00,23.00
1,1069.18,1349.85,3171.48,500.00,57.84,54.68,52.29,0.00,453.43,567.16,...,0.00,0.00,0.00,1580.00,790.00,3638.00,0.00,3.00,6.00,5.00
2,378.72,492.22,137.36,166.79,413.69,351.03,35.08,33.46,94.66,80.63,...,354.00,207.00,0.00,437.00,955.00,327.00,186.00,5.00,0.00,1.00
3,514.45,597.75,637.76,578.60,102.41,132.11,85.14,161.63,757.93,896.68,...,0.00,0.00,0.00,600.00,680.00,718.00,680.00,0.00,0.00,0.00
4,74.35,193.90,366.97,811.48,48.96,50.66,33.58,15.74,85.41,89.36,...,712.00,540.00,252.00,0.00,1166.00,979.00,504.00,12.00,24.00,7.00

In [4]:
df_categorical = telecom2.select_dtypes(include=['object'])
df_categorical.head()

  date_of_last_rech_9
0          2014-09-28
1          2014-09-30
2          2014-09-30
3          2014-09-30
4          2014-09-28

## Decision Tree based recommendations for the business

TODO